<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"                 content="IE=edge">
<title><%- locals.name %></title>
<meta name="description"                           content="<%- locals.description %>">
<meta name="viewport"                              content="width=device-width, initial-scale=1">

<meta http-equiv="content-type"                    content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="HandheldFriendly"                      content="true">
<meta name="MobileOptimized"                       content="320">
<meta name="apple-mobile-web-app-capable"          content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="mobile-web-app-capable"                content="yes">
<meta name="keywords"                              content="Alison, Anders, Thomas, Alison Anders, Alison Thomas, Art, Paper art">
<meta name="description"                           content="<%- locals.description %>">
<meta name="author"                                content="<%- locals.author %>">
<meta name="viewport"                              content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0" />

<meta http-equiv="X-UA-Compatible"                 content="IE=edge,chrome=1">
<meta name="HandheldFriendly"                      content="true">

<!-- Google Authorship and Publisher Markup -->
<link rel="author" href="https://plus.google.com/103609977209431639131/posts"/>

<!-- Schema.org markup for Google+ -->
<meta itemprop="name"                              content="<%- locals.author %>">
<meta itemprop="description"                       content="<%- locals.description %>">
<meta itemprop="image"                             content="<%- locals.domain %>images/favicon_base.png">
<link rel="canonical"                                 href="<%- locals.domain %><%- locals.path %>" />

<!-- Open Graph data -->
<meta property="og:type"                           content="profile" />
<meta property="og:url"                            content="<%- locals.domain %><%- locals.path %>" />
<meta property="og:title"                          content="<%- locals.author %>" />
<meta property="og:image"                          content="<%- locals.domain %>images/favicon_base.png" />
<meta property="og:description"                    content="<%- locals.description %>" />
<meta property="og:site_name"                      content="<%- locals.name %>" />

<!-- Favicon -->
<link rel="shortcut icon"                          href="/images/favicon_144.png" />
<link rel="icon"                                   href="/images/favicon_144.png" />
<link rel="apple-touch-icon"                       href="/images/favicon_144.png" />
<link rel="apple-touch-icon-precomposed"           href="/images/favicon_144.png" />

<meta itemprop="copyrightHolder" content="<%- locals.author %>"/>
<meta itemprop="copyrightYear" content="2016"/>
<meta itemprop="isFamilyFriendly" content="true"/>

<meta itemprop="author" content="<%- locals.author %>"/>
<meta itemprop="datePublished" content="<%- locals.date %>"/>
<meta itemprop="publisher" content="<%- locals.author %>"/>

<% if(locals.robots === false) { %>
  <meta name="robots" content="noindex, nofollow">
<% } %>

<%# Global site tag (gtag.js) - Google Analytics %>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-50229612-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-50229612-2');
</script>


<% const fontApi = 'https://fonts.googleapis.com/css?family=Roboto:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,500italic,600,600italic,700,700italic,800,800italic,900,900italic'; %>

<link rel="preload" media="all" href="<%- fontApi %>" lazyload onload="this.onload=null;this.rel='stylesheet'" as="style">
<% locals.styles.forEach((path) => { %>
  <% if(path === 'main') { %>
    <link rel="stylesheet" media="all" href="/styles/<%- path %>.css">
  <% } else { %>
    <link rel="preload" media="all" href="/styles/<%- path %>.css" lazyload onload="this.onload=null;this.rel='stylesheet'" as="style">
  <% } %>
<% }); %>

<noscript>
  <link rel="stylesheet" media="all" href="<%- fontApi %>">
  <% locals.styles.forEach((path) => { %>
    <link rel="stylesheet" media="all" href="/styles/<%- path %>.css">
  <% }); %>
</noscript>